# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Test cache
.pytest_cache/

# Package distribution files
dist/
build/
*.egg-info/

# Virtual environments
env/
venv/

# VS Code configs
.vscode/

# macOS system files
.DS_Store

# Output files
report.json